.Toolbar {
    height: 3rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar a {
    text-shadow: none;
    background-image: none;
}

.Toolbar h3 {
    margin:0;
    padding:0;
    font-size: 1rem;
    color: rgb(83, 83, 83);
}

.Toolbar nav {
    height: 100%;
}