.Main {
    margin:19rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;

}

@media(max-width:500px) {
    .Main {
        margin:19rem 3rem 1rem 3rem;
    }
    
}