.NavigationItem {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
}

.NavigationItem a {
    color: rgb(74, 74, 74);
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active, 
.NavigationItem a.active {
    background-color: transparent;
    border: transparent;
    color: rgb(46, 46, 46);
}
