.Title {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

.Blogs {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

@media(max-width:500px) {
    .Title {
        display:none;
    }
    
}