.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.HeaderBlockTitle {
    display: table; /* comportement visuel de cellule */
    height: 15rem;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(141deg, rgb(0, 158, 108) 0%, rgb(0, 209, 178) 71%, rgb(0, 230, 235) 100%);
    color:#ffffff;
    font-weight: bold;
    font-size: 2rem;
}

.HeaderParentTitle {
    display: table-cell; /* comportement visuel de cellule */
    vertical-align: middle;
}